.contact_text>h2 {
    color: #313131;
    margin-bottom: 32px;
    font-size: 26px;
}

.contact_text>p {
    color: #b6b6b6;
    font-size: 18px;
}

#contact_form {
    margin-top: 64px;
}

.input_form {
    flex-wrap: wrap;
}

.input_text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 45%;
    margin-bottom: 32px;
}

.input_textarea {
    width: 100%;
    resize: none;
}

.input_textarea>textarea {
    resize: none;
}

.input_text>input, .input_text>textarea {
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    border-style: solid;
    border-width: 2px;
    border-color: #79ae92;
    background-color: #f3f5f7;
    font-size: 17.6px;
    color: #001f36;
}

.input_text>input:focus, .input_text>textarea:focus {
    outline: none;
    border-color: #2d4e3c;
}

.input_text>label {
    font-size: 18px;
    margin-bottom: 5px;
    color: #001f36;
}

input::placeholder, textarea::placeholder {
    color: #1c5560;
}

#btn_send {
    padding: 22px 42px;
    font-size: 18px;
    border-radius: 5px;
    background: linear-gradient(110deg, #0064ac91 0%, #013055e7 100%);
    color: #fff;
    border: none;
}

#btn_send:hover {
    opacity: 0.9;
    cursor: pointer;
}

@media screen and (max-width: 500px) { 
    .input_tex{
        width: 100%;
    }
    #btn_send{
        width: 100%;
    }
    #user_name{
        font-size: 15px;
    }
    #user_email{
        font-size: 15px;
    }
}




